header {
  width: 100%;
  padding: 2px;
}

.header {
  background-color: hsl(190, 93%, 17%);
  color: hsl(41, 54%, 49%);
  border: 2px solid hsl(41, 54%, 49%);
  border-radius: 10px;
}

.logo-name {
  font-size: x-large;
}

.example-spacer {
  flex: 1 1 auto;
}

a {
  color: hsl(41, 54%, 49%);
}

a:hover {
  color: hsl(203, 100%, 6%);
}
