<header>
  <mat-toolbar class="header">
    <span class="logo-name">Champion Select</span>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon title="Home Page"><a routerLink="/">home</a></mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon title="About Page"><a routerLink="/about">info</a></mat-icon>
    </button>
  </mat-toolbar>
</header>
