<div class="container">
  <div class="banner-container">
    <div class="background"></div>
    <div class="banner">
      <img src="about-page/mural-daniel-league-of-legends.png" alt="">
      <div class="social-container">
        <a href="https://www.linkedin.com/in/daniel-rogerio-a75311178">
          <img src="about-page/linkedin.png" class="social-logo" alt="">
        </a>
        <a href="https://github.com/daniel-rogerio">
          <img src="about-page/github.png" class="social-logo" alt="">
        </a>
        <a href="https://www.instagram.com/_danielrogerio">
          <img src="about-page/instagram.png" class="social-logo" alt="">
        </a>
      </div>
    </div>
  </div>
</div>
