<div class="container">
  <mat-card class="example-card" appearance="outlined">
    <mat-card-content class="content">
      <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="center">
        <mat-tab label="Login">
          <mat-form-field class="example-full-width">
            <mat-label>Email</mat-label>
            <input matInput placeholder="Email">
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <mat-label>Password</mat-label>
            <input matInput placeholder="Password">
          </mat-form-field>
          <button mat-flat-button>Login</button>
        </mat-tab>
        <mat-tab label="Register">
          <mat-form-field class="example-full-width">
            <mat-label>Email</mat-label>
            <input matInput placeholder="Email">
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <mat-label>Password</mat-label>
            <input matInput placeholder="Password">
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <mat-label>Confirm Password</mat-label>
            <input matInput placeholder="Confirm password">
          </mat-form-field>
          <!-- <button mat-flat-button>Register</button> -->
        </mat-tab>
      </mat-tab-group>
    </mat-card-content>
  </mat-card>
</div>
