img {
  border-radius: 10px;
  width: 100%;
  height: 100%;
}

.background {
  width: 100%;
  height: 100%;
  background-image: url("../../assets/home-page/group-baronfight-splash.jpg");
  background-size: cover;
  border-radius: 10px;
}

.home-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}

.section {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 100%;
  margin-bottom: 20px;
}

button {
  width: 300px;
  height: 100px;
  background-color: hsl(41, 54%, 49%);
  border: 2px solid hsl(201, 100%, 5%);
  border-radius: 10px;
  font-size: 20px;
}

button:hover {
  box-shadow: 0 8px 10px 0 rgba(255, 255, 255, 0.24),0 17px 50px 0 rgba(255, 255, 255, 0.19);
}
